.popup.issue-edit {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 70vh;
    border-radius: 5px;
    min-width: 400px;
    min-height: 400px;

    .title {
        display: flex;
        justify-content: space-between;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 28px 28px;
        font-size: 22px;
        color: #ffffff;
        background-image: linear-gradient(to top, #6b95e3, #6784d0);
    }

    .option-area {
        .option {
            .text {
                margin-right: 10px;
            }
            
            select {
                border-radius: 5px;
                box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.2);
                background-color: #ffffff;
                height: 23px;
                width: 100px;
                margin-bottom: 10px;
            }
        }
    }

    .edit-area {
        padding: 10px 20px;
        overflow: auto;
        flex: 1;

        .editor-area {
            .title-edit {
                margin-bottom: 15px;   
                height: 18px;
                width: 100%;

                .text {
                    margin-right: 10px;             
                }

                input {                    
                    width: 70%;
                }
            }
        }
    }
    
    .button-area {
        padding: 20px 20px;
        width: calc(100% - 40px);
        bottom: 0;
        text-align: center;
        background-color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        button {            
            background-image: linear-gradient(to top, #6b95e3, #6784d0);
            color: #ffffff;
            width: 100px;
            height: 40px;
            border-radius: 5px;
        }
    }
}