$grey_color: #707c97;
$blue_color: #2a8bf2;
$middle_size: 20px;

.left-menu {
  width: 20vw;
  height: 100vh;
  box-shadow: 23.9px 5.6px 50px 0 rgba(0, 0, 0, 0.02), 35.1px 0 70px 0 rgba(86, 128, 248, 0.05), 14px 0 25px 0 rgba(86, 128, 248, 0.03);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .profile {
    text-align:center;
    margin-top: 8.5vh;
    img {
      width: 50%;
      border-radius: 50%;
    }

    span {
      color: #0d1c2e;
    }
  }

  .actions {
    font-size: $middle_size;
    color: $grey_color;
    margin-left: 13.1%;

    li {
      margin-bottom: 5.6vh;
      svg {
        margin-right: 5.6%;
      }
    }

    li.active {
      color: $blue_color;
    }

    li:hover {
      color: $blue_color;
    }
  }

  .logout {
    margin-left: 13.1%;
    margin-bottom: 4.7vh;
    color: $grey_color;
    font-size: $middle_size;

    svg {
      margin-right: 5.6%;
    }
  }

  .logout:hover {
    color: $blue_color;
  }
}