ul {
    list-style:none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {  
  font-family: Aritta-Light;
}

.issue-page {
  display: flex;
}

.chat-page {
  display: flex;
  padding: 109px 60px 0 59px;
  background: linear-gradient(#f3f3fb, #fdfbfd);
}